<div class="container">
    <header class="header">
        <h1>User Login Form</h1>
    </header>
 <form [formGroup]="loginForm" class="form">
     <div class="form-group">
         <label for="emaill">Email</label>
         <input type="email" id="emaill" class="form-control" formControlName="email">
     </div>
     <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" id="pass" class="form-control" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="loginFormSubmit(loginForm.value)">Login</button>
 </form>
</div>>
