<div class="container">
  <h2 *ngIf="userData">User Details</h2>
  <table class="table table-hover" *ngIf="userData">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
      </tr>
    </tbody>
  </table>
  <h2 *ngIf="!userData">No user exists..</h2>
</div>
